<% include partials/admin_header %>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2"><%= title %></h1>
                </div>
                <form method="POST" action="/admins/products/edit/<%= product._id %>" class="needs-validation" novalidate>
                    <div id="form-group">
                        <label>Name</label>
                        <input name="name" type="text" class="form-control" id="validationCustom01" value="<%= product.name %>" required>
                        <div class="invalid-feedback">Name is required.</div>
                    </div>

                    <div id="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" id="validationCustom02" required><%= product.description %></textarea>
                        <div class="invalid-feedback">Name is required.</div>
                    </div>

                    <div id="form-group">
                        <label>Type</label>
                        <input class="form-control" type="text" name="type" id="validationCustom03" value="<%= product.type %>" required>
                        <div class="invalid-feedback">Name is required.</div>
                    </div>
                    
                    <div id="form-group">
                    <input class="form-control" type="text" name="merchant" value="<%= user._id %>" hidden>
                    </div>

                    <div id="form-group">
                        <label>Price</label>
                        <input class="form-control" type="number" name="price" id="validationCustom04" value="<%= product.price %>"required>
                        <div class="invalid-feedback">Price is required.</div>
                    </div>

                
                      <br>
                          <input class="btn btn-primary" type="submit" value="Submit">
                      </form>
              </main>
            </div>
          </div>
</div>

<script>
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>
<% include partials/admin_footer %>