<!DOCTYPE html>
<html>
	<head>
		<title>Easy Insurance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel=stylesheet href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel=stylesheet href="/css/style.css">
		<link rel="icon" href="/bower_components/bootstrap/assets/img/favicon.png">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		      <b><a class="navbar-brand" href="/">Easy Insurance</a></b>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>

		      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		        <ul class="navbar-nav mr-auto">
		          <li class="nav-item <% if(page_name == 'home'){ %>active<% } %>">
		            <a class="nav-link" href="/">Home</a>
							</li>
							
							<li class="nav-item <% if(page_name == 'products'){ %>active<% } %>">
		            <a class="nav-link" href="/products">Products</a>
							</li>
							
							<li class="nav-item <% if(page_name == 'faqs'){ %>active<% } %>">
		            <a class="nav-link" href="/faqs">FAQs</a>
							</li>
							
							<li class="nav-item <% if(page_name == 'contact'){ %>active<% } %>">
		            <a class="nav-link" href="/contact">Contact</a>
							</li>

		        </ul>
						<ul class="navbar-nav ml-auto">
							<% if(user){ %>
								<% if(user.is_admin == true){ %>
									<li class="nav-item">
										<a class="nav-link">Logged in as <%= user.name %></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href='/admins/dashboard'><b>View Dashboard</b></a>
									</li>
								<% } else if(user.is_merchant == true) { %>
									<li class="nav-item">
										<a class="nav-link">Logged in as <%= user.name %></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href='/merchants/overview'><b>View Dashboard</b></a>
									</li>
								<% } else { %>
									<li class="nav-item">
										<a class="nav-link">Logged in as <%= user.name %></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href='/users/overview'><b>View Dashboard</b></a>
									</li>
								<% } %>
								<li class="nav-item">
									<a class="nav-link" href='/users/logout'>Logout</a>
								</li>
							<% } else { %>
								<li class="nav-item">
										<a class="nav-link" href="#">Welcome <b>Guest</b></a>
								</li>
								<li class="nav-item <% if(page_name == 'login'){ %>active<% } %>">
									<a class="nav-link" href="/users/login">Login</a>
								</li>
								<li class="nav-item <% if(page_name == 'register'){ %>active<% } %>">
									<a class="nav-link" href="/users/register">Register</a>
								</li>
							<% } %>
						</ul>
		      </div>
				</nav>
				
<div class = "container"> <!-- display errors -->
	<%- messages('message', locals) %>

	<% if(typeof errors !== 'undefined'){ %>
		<br>
	  <ul>
	  <% errors.forEach(function(error){ %>
	    <div class="alert alert-danger"><%= error.msg %></div>
	  <% }) %>
	  </ul>
	<% } %>
</div>
