<% include partials/header %>

<div class="container">

<div class="container">
<br>
  <h1>Accident Insurance</h1>
  <hr>
  <div class="card-deck mb-3 text-center">
    <% products.forEach(function(product){ %>
      <% if(product.is_approved == true ){ %>
        <% if(product.type == "Accident Insurance" ){ %>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= product.name %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₱<%= product.price %><small class="text-muted">/<% if(product.duration == 1){ %>mo.<% } else { %><%= product.duration %>mos.<% }%></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= product.type %></li>
              <li><b><%= product.merchant.name %></b></li>
            </ul>
            <a  href="/products/<%= product._id %>" class="btn btn-lg btn-block btn-outline-success">Subscribe</a>
        </div>
      </div>
        <% } %>
      <% } %>
    <% }) %>
    </div>
    <hr>

    <br>
  <h1 align="right">Health Insurance</h1>
  <hr>
  <div class="card-deck mb-3 text-center">
    <% products.forEach(function(product){ %>
      <% if(product.is_approved == true ){ %>
        <% if(product.type == "Health Insurance" ){ %>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= product.name %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₱<%= product.price %><small class="text-muted">/<% if(product.duration == 1){ %>mo.<% } else { %><%= product.duration %>mos.<% }%></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= product.type %></li>
              <li><b><%= product.merchant.name %></b></li>
            </ul>
            <a  href="/products/<%= product._id %>" class="btn btn-lg btn-block btn-outline-success">Subscribe</a>
        </div>
      </div>
        <% } %>
      <% } %>
    <% }) %>
    </div>
    <hr>

    <br>
  <h1>Car Insurance</h1>
  <hr>
  <div class="card-deck mb-3 text-center">
    <% products.forEach(function(product){ %>
      <% if(product.is_approved == true ){ %>
        <% if(product.type == "Car Insurance" ){ %>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= product.name %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₱<%= product.price %><small class="text-muted">/<% if(product.duration == 1){ %>mo.<% } else { %><%= product.duration %>mos.<% }%></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= product.type %></li>
              <li><b><%= product.merchant.name %></b></li>
            </ul>
            <a  href="/products/<%= product._id %>" class="btn btn-lg btn-block btn-outline-success">Subscribe</a>
        </div>
      </div>
        <% } %>
      <% } %>
    <% }) %>
    </div>
    <hr>
</div>

<% include partials/footer %>