<% include partials/merchant_header %>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2"><%= title %></h1>
                </div>
                <form method="POST" action="/merchants/products/edit/<%= product._id %>" class="needs-validation" novalidate>
                    <div id="form-group">
                        <label>Name</label>
                        <input name="name" type="text" class="form-control" id="validationCustom01" value="<%= product.name %>" required>
                        <div class="invalid-feedback">Name is required.</div>
                    </div>

                    <div id="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" id="validationCustom02" required><%= product.description %></textarea>
                        <div class="invalid-feedback">Description is required.</div>
                    </div>

                    <div id="form-group">
                      <label>Benefits</label>
                      <textarea class="form-control" name="benefits" id="validationCustom03" placeholder="Benefits" required><%= product.benefits %></textarea>
                      <div class="invalid-feedback">Benefits are required.</div>
                    </div>

                    <div id="form-group">
                      <label>Conditions</label>
                      <textarea class="form-control" name="conditions" id="validationCustom04" placeholder="Conditions" required><%= product.conditions %></textarea>
                      <div class="invalid-feedback">Conditions are required.</div>
                    </div>

                    <div id="form-group">
                        <label>Type</label>
                        <select class="form-control" type="text" name="type" id="validationCustom05" value="<%= product.type %>" required>
                          <option><%= product.type %></option>
                          <option>Car Insurance</option>
                          <option>Health Insurance</option>
                          <option>Accident Insurance</option>
                        </select>
                        <div class="invalid-feedback">Type is required.</div>
                    </div>
                    
                    <div id="form-group">
                    <input class="form-control" type="text" name="merchant" value="<%= user._id %>" hidden>
                    </div>

                    <div id="form-group">
                        <label>Price</label>
                        <input class="form-control" type="number" name="price" id="validationCustom06" value="<%= product.price %>" min=0 required>
                        <div class="invalid-feedback">Price is required.</div>
                    </div>

                    <div id="form-group">
                      <label>Duration (in months)</label>
                      <input class="form-control" type="number" name="duration" id="validationCustom07" value="<%= product.duration %>" min=1 required>
                      <div class="invalid-feedback">Duration is required.</div>
                  </div>

                
                      <br>
                          <input class="btn btn-primary" type="submit" value="Submit">
                      </form>
              </main>
            </div>
          </div>
</div>

<script>
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>

<% include partials/merchant_footer %>